.Card {
  width: 50vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #0000009d;
  border-radius: 20px;
  border: solid #2dbf7f 3px;
  cursor: pointer;
}

.Card .cardHeader {
  display: flex;
  justify-content: center;
}

.Card .cardHeader .cardTitle {
  font-size: 30px;
  padding: 10px;
  color: #f7f9f9;
}

.Card .cardContent {
  padding: 10px;
  color: #f7f9f9;
  font-size: 20px;
  text-align: center;
}

.playlistImage {
  border-radius: 18px;
  width: auto;
  height: 75%;
  border-bottom: solid #2dbf7f 3px;
}

@media (max-width: 600px) {
  .Card {
    width: 30vh;
    height: 50vh;
  }
  .Card .cardHeader .cardTitle {
    font-size: 15px;
    padding: 5px;
  }

  .Card .cardContent {
    padding: 5px;
    font-size: 15px;
  }
}
